@import 'reset';
@import "config";
@import './calendar.css';


body, #root {
  width: 100%;
  min-height: 100vh;
  background: $color-background;
  color: $color-text;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
  margin-top: $m-base;
}

h3 {
  font-size: 28px;
}

a {
  color: $color-text;
  text-decoration: none;
}

input, textarea {
  @include inputs;
}

.flex-container {
  @include flexContainer(column);
  min-height: 100vh;
}
.app {
  justify-content: flex-start;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 7rem;
  padding: 1rem;
  background: $color-accent;
  box-shadow: $shadow-base;

  @include tablet {
    height: 5rem;
  }

  .header-wrapper {
    @include flexContainer(row);
    width: 100%;

    & > * {
      flex: 1;
    }

    nav {
      flex-basis: 100%;
      text-align: center;
      margin-top: $m-base/2;
      & a {
        margin-left: $ui-step * 4;
      }
      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        order: -1;
        flex: 1 1;
        text-align: start;
        margin-top: 0;
      }
    }

    .logo {
      text-align: start;

      @include tablet {
        text-align: center;
      }
    }

    .user-bar {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & img {
        cursor: pointer;
        width: auto;
        height: 1.5rem;
      }
    }
  }
}

main {
  max-width: 800px;
  margin: 7rem auto;
  padding: 0 $m-base;
}

.add-form {
  margin-top: $m-base;
  width: 100%;

  .controls {
    @include flexContainer(row);
    justify-content: space-between;
    width: 50%;
    max-width: 350px;
    margin: $m-base / 2 auto 0 auto;

  }
}


.todo-item {
  margin-top: $m-base;
  padding: $p-base;
  border: 1px solid $color-accent;

  &:hover {
    background: $color-accent;
  }

  & span {
    display: block;
    margin-top: $m-base;
  }

  .todo-controls {
    @include flexContainer(row);
    margin-top: $m-base;

    & button {
      margin-left: $m-base;
    }
  }

  h3 {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.in-edit {
  input, textarea {
    border: none;
    box-shadow: none;
    background: none;
    color: $color-text;
    border-radius: 0;
    outline: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.login-wrapper {
  min-height: auto;
  flex: 1 0 auto;
}
.login-container {
  width: 300px;
  padding: $p-base;
  background: $color-accent;
  color: $color-text;
  border-radius: 5px;
  box-shadow: $shadow-base;
  min-height: auto;

  form {
   margin: $m-base * 3 auto 0 auto;
  }
  label {
    display: block;
    margin-top: $m-base;
  }
  input {
    margin-left: 0;
    width: calc(304px - $m-base * 2);
  }
  .controls {
    margin: $m-base * 3 auto $m-base;
    text-align: center;

    button {
      border-radius: 5px;
      margin: 0 $m-base;
    }
  }

  p {
    text-align: center;
  }

}

.btn {
  width: $w-button;
  height: $h-hutton;
  box-shadow: none;
  border: none;
  transition: 200ms;

  &.btn-delete {
    background: $color-accent;
    color: $color-text;

    &:hover {
      background: $color-highlight;
    }
  }
}

.btn:hover {
  background: $color-hover;
}

footer {
  @extend header;
  position: relative;
  top: auto;
  bottom: 0;
  margin-top: auto;
}

.hidden {
  display: none;
}